nav{

    display: flex;
    align-items: center;
    justify-content: space-between;
    display: contents;
}
nav ul{
    list-style-type: none;
    width: 98%;
    text-align: right;
    padding: 10px;
}
nav ul li {
    display: inline-block;
    margin: 2px 5px;
    list-style: none;

}
nav ul li a{
    text-decoration: none;
    width: 40px;
}
#bob{
    background-color: yellow;
}
#image{
    margin-left: 96%;
}
#brick{
    height: 100px;
}
.b{
    font-size: 30px;
}

.navdi{
    background-color: yellow;
}
.d2{
    margin-left: 250px;
}
.hotline{
    margin-left: 180px;
}
.contact{
    margin-left: 0%;
}
.uno1{
    font-size: 50px;
    /* margin-left: 250px; */
}
.En{
    display: inline-flex;
    font-size: 20px;
    gap:5%;
    margin-left:4%;
}
.but1,.but2,.but3{
    padding-left: 150px;
    /* padding-bottom: 20px; */
    font-size: 40px;
    border:grey;
}
.kr,.kyle,.my,.hone{
    font-size: 20px;
    padding-right: 50px;
}
.prue{
    border: solid;
    width: 350px;
    font-size: 20px;
    border-radius: 50px;
    margin-left: 60%;
    margin-top: -20%;
}
.b1,.b2,.b3{
    font-size: 25px;
    padding-left: 50px;
}
.va{
    font-size: 40px;
}
.ent,.ty,.thy{
    padding-right: 125px;
    padding: left 350px; ;
    padding-bottom: 20px;
    padding-top: 15px;
    margin-top: 15px;
    margin-left: 15%;
}
.ent{
    border-color: greenyellow;
    border-radius: 25px;
}
.ty{
    border-color: grey;
    border-radius: 25px;
}
.thy{
    background-color: yellow;
    color: white;
    border-radius: 25px;
}
.ebt{
    gap: 10%;
}
/* .entry{
    margin-left: 15%; */
/* } */
.v{
    display: inline-flex;
    gap: 150px;
    font-size: 15px;
    margin-left: 6%;
    margin-top: 8%;
}
.pu2{
    font-size: 15px;
    gap: 15px;
}
.as{
    font-size: 20px;
    margin-top: -4%;
}
.k,.k1,.k2{
    font-size: 25px;
}
.k{
    background-color: red;
}
.k1{
    background-color: red;
}
.k2{
    background-color: yellow;
}
.er{
    font-size: 25px;
    /* margin-left: 250px; */
    margin-top: 10%;
}
.pyt{
    display: inline-flex;
    gap: 350px;
    margin-left: 13%;
    margin-top: -4%;
}
.le{
    /* margin-left: 250px; */
    font-size: 25px;
}
.white{
    font-weight: bolder;
}
.po{
margin-top: 17%;
font-size: 25px;
gap: 175px;
}
.iy{
margin-top: 19%;
font-size: 27px;
color: grey;
}
.fn{
    color: grey;
    margin-left: 30%;
}
.a,.b,.c{
    font-size: 40px;
    
}
/* .a{
    background-color: blueviolet;
} */
.footer{
    background-color: purple;
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: medium;
   }
@media screen and(min-width:400px)and(max-width:768px){
    body{
        width: 100%;
    }
    .navdi{
        font-size: x-small;
    }
    .prdc{
        background-color: yellow;
    }
}