.nav ul li{
    display: inline;
   margin-left: 10%;
}
#flag{
   width: 50px;
   height: 50px;
}
.brickhouse{
   background-color: yellow;
   display: flex;
}
#brick{
   width: 50px;
   height: 60px;
}
#one{
 text-align: center;
}
#but111{
 border-radius: 30px;
 background-color: purple;
 color: black;
 margin-left: 10%;
}
#img23{
 margin-left: 10%;
}
/* #but34{
 border-radius: 40px;
 background-color: yellow;
 color: black;
}
#wow{
 font-size: larger;
} */
.avail{
 margin-left: 800px;
}
#add{
 color: green;
}
.tag{
 background-color: yellow;
 padding: 10px 12px;
}
.number{
 background-color: whitesmoke;
 width: 40px;
}
.down{
 margin-top: 80px;
}
.build{
 margin-left: 800px;
 margin-top: 20px;
 font-weight: bold;
}
#map{
 background-color: yellow;
 padding: 3px 7px;
 color: white;
}
#pick{
 background-color: purple;
 padding: 3px 6px;
 color: white;
}
#nov{
 background-color: red;
 padding: 3px 6px;
 color: white;
}
.future{
 margin-left: 1100px;
 margin-top: -120px;
}
.adres{
 color: palevioletred;
}
.frere{
 color: green;
}
.vary{
 color: green;
}
.describe{
 display: flex;
 margin-top: 240px;
 margin-left: 450px;
}
.explain{
 font-weight: bold;
 font-size: 20px;
 background-color: yellow;
 padding: 8px 40px;
 border-radius: 8px;
}
.view{
 font-weight: bold;
 font-size: 20px;
 background-color: whitesmoke;
 padding: 8px 40px;
 border-radius: 8px;
 margin-left: 50px;
}
.video{
 font-weight: bold;
 font-size: 20px;
 background-color: whitesmoke;
 padding: 8px 40px;
 border-radius: 8px;
 margin-left: 50px;
}
.line{
 background-color: grey;
 height: 1px;
}
.stmt{
 margin-left: 250px;
 padding: 40px;
 font-size: large;
}
.vans{
 margin-left: 600px;
 font-size: 40px;
}
.c img{
 width: 300px;
 margin-left: 330px;
 background-color: yellow;
 border: yellow solid;
 border-radius: 15px;
}
.s img{
 width: 250px;
 margin-left: 680px;
 margin-top: -200px;
 border: yellow solid;
 border-radius: 15px;
}
.s1 img{
 width: 230px;
 margin-left: 450px;
 border: yellow solid;
 border-radius: 15px;
}
.avail{
 margin-left: 800px;
 /* margin-bottom: -600px; */

}
#add{
 color: green;
}
.tag{
 background-color: yellow;
 padding: 10px 12px;
}
.number{
 background-color: whitesmoke;
 width: 40px;
}
.down{
 margin-top: 80px;
}
.build{
 margin-left: 800px;
 margin-top: 20px;
 font-weight: bold;
}
#map{
 background-color: yellow;
 padding: 3px 7px;
 color: white;
}
#pick{
 background-color: purple;
 padding: 3px 6px;
 color: white;
}
#nov{
 background-color: red;
 padding: 3px 6px;
 color: white;
}
.future{
 margin-left: 1100px;
 margin-top: -120px;
}
.adres{
 color: palevioletred;
}
.frere{
 color: green;
}
.vary{
 color: green;
}
.describe{
 display: flex;
 margin-top: 240px;
 margin-left: 450px;
}
.explain{
 font-weight: bold;
 font-size: 20px;
 background-color: yellow;
 padding: 8px 40px;
 border-radius: 8px;
}
.view{
 font-weight: bold;
 font-size: 20px;
 background-color: whitesmoke;
 padding: 8px 40px;
 border-radius: 8px;
 margin-left: 50px;
}
.video{
 font-weight: bold;
 font-size: 20px;
 background-color: whitesmoke;
 padding: 8px 40px;
 border-radius: 8px;
 margin-left: 50px;
}
.line{
 background-color: grey;
 height: 1px;
}
.stmt{
 margin-left: 250px;
 padding: 40px;
 font-size: large;
}
.vans{
 margin-left: 600px;
 font-size: 40px;
}
.c{
}
.s{
 padding-bottom: 20px;
}
.s1{
}
.art{
 margin-left: 800px;
}
.stars{
 margin-left: 800px;
 color: yellow;
}
#dol{
 margin-top: -300px;
}
#mom{
 font-size: 30px;
}
#lkj{
 font-size: 30px;
}
#kjl{
 font-size: 30px;
}
#sas{
 display: flex;
 /* margin-left: 30%; */
}
#dod2{
 width: 150px;
 height: 200px;
 margin: 60px;
 /* border-radius: 15px;
   box-shadow: 0 5px 20px rgba(0, 0, 0, .3); */
}
#dod3{
 width: 150px;
 height: 200px;
 margin: 60px;
 /* border-radius: 15px;
   box-shadow: 0 5px 20px rgba(0, 0, 0, .3); */
}
#dod4{
 width: 150px;
 height: 200px;
 margin: 60px;
 /* border-radius: 15px;
   box-shadow: 0 5px 20px rgba(0, 0, 0, .3); */
}
#dod1{
 width: 150px;
 height: 200px;
 margin: 60px;
 /* border-radius: 15px; */
   /* box-shadow: 0 5px 20px rgba(0, 0, 0, .3); */
}
.footer{
 background-color: purple;
 display: flex;
 justify-content: space-between;
 color: white;
 font-size: medium;
}
.cones2{
 font-size: medium;
}
#but0{
 background-color: yellow;
 color: black;
}

nav{

   display: flex;
   align-items: center;
   justify-content: space-between;
   display: contents;
}
nav ul{
   list-style-type: none;
   width: 98%;
   text-align: right;
   padding: 10px;
}
nav ul li {
   display: inline-block;
   margin: 2px 5px;
   list-style: none;

}
nav ul li a{
   text-decoration: none;
   width: 40px;
}
/* .ava{
   margin-top: -45%;
} */
#image{
   margin-left: 96%;
}
.bos{
   /* margin-top: -60%; */
   /* margin-right:30% ; */
   margin-top: -400px;
}
#bob{
   background-color: yellow;
   justify-content: space-evenly;
   
}
.plan{
   /* display: flex; */
}
#boo{
   
   width: 450px;
   height: 450px;
}.moob{
   display: flex;
}#moo{
   width: 90px;
   height: 96px;
}
#moo1{
   width: 90px;
   height: 96px;
}
#moo2{
   width: 90px;
   height: 96px;
}
#moo3{
   width: 90px;
   height: 96px;
}
#moo4{
   width: 90px;
   height: 96px;
}
.nik{
   margin-top: -12%;
}
